/* header
==================================================*/

.box-header {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background:$theme-white;
    height: $header-height;
    width: 100%;
    padding: 20px 40px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.box-header {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.box-logo {
    display: block;
}

.box-logo img {
    height: 40px;
}

.box-primary-nav-trigger .box-menu-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    bottom: auto;
    right: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: $theme-dark;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    list-style: none;
}

.box-primary-nav-trigger .box-menu-icon::before,
.box-primary-nav-trigger .box-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $theme-dark;
    border-radius: 10px;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -webkit-transition: top .3s, background-color 0s, -webkit-transform .3s;
    transition: top .3s, background-color 0s, -webkit-transform .3s;
    transition: transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s, -webkit-transform .3s;
}

.box-primary-nav-trigger .box-menu-icon::before {
    top: -5px;
}

.box-primary-nav-trigger .box-menu-icon::after {
    top: 4.5px;
}

.box-primary-nav-trigger .box-menu-icon.is-clicked {
    background-color: rgba(255, 255, 255, 0);
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::before,
.box-primary-nav-trigger .box-menu-icon.is-clicked::after {
    background-color: $theme-dark;
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.box-primary-nav-trigger {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.box-primary-nav-trigger .box-menu-icon {
    left: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.box-primary-nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $theme-light;
    z-index: 2;
    text-align: center;
    padding: 20px 40px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    list-style: none;
}

.box-primary-nav li {
    text-align: right;
    font-size: 16px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 1em;
    text-transform: capitalize;
}

.box-primary-nav {

    a {
        display: inline-block;
        padding: 0 2em 0 0;
        border-radius: 0.25em;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        color: $theme-dark; 

            &.selected {
                font-weight: 700;
                color: $theme-purple;
            }

    }
    .box-primary-nav a:focus {
        outline: none;
    }
}

.no-touch .box-primary-nav a:hover {
    text-decoration: none;
    color: #ddd;
}

.box-primary-nav .box-label {
    color: #50507f;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    margin: 2.4em 0 .8em;
}

.box-primary-nav .box-social {
    display: inline-block;
    margin: 10px .4em;
}

.box-primary-nav .box-social a {
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 30px
}

.box-primary-nav.is-visible {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

@media only screen and (min-width: 670px) {
    .box-primary-nav-trigger {
        display: none;
    }
    .box-primary-nav {
        z-index: 4;
        padding-top: 20px;
        height: $header-height;
        background: transparent;
        color: $theme-dark;
        transform: translateY(0);
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media only screen and (max-width: 670px) {
    .box-header {
        height: 60px;
        padding: 20px 30px;

        .box-logo img {
            height: 24px;
        }
    }

    .box-primary-nav {
        padding: 80px 0 0;
        width: 80%;
        box-shadow: inset 0 0 4px rgba(50, 50, 50, 0.08);
    }

    .box-primary-nav a {
        padding: 5px 1em;
        font-size: 14px;
    }
    
    .box-primary-nav .box-social a {
        font-size: 23px;
    }
}