/* box-intro
==================================================*/

.box-intro {
    position: relative;
    text-align: left;
    display: table;
    height: 100vh;
    width: 100%;
    background-image: url('../img/landing_pattern@2x.png');
    background-size: auto calc(100vh - #{$header-height});
    background-repeat: no-repeat;
    background-position: right  #{$header-height};
    color: $theme-dark;

    .intro-text {
        position: absolute;
        bottom: 25%;
        padding-left: 60px;      
        font-family: 'Playfair Display', serif;
        font-size: 30px;
        font-weight: 600; 
    }

    .intro-message {   
        font-size: $big;
        line-height: 60px;
    }

    .box-headline {
        margin-top: 0;        
        text-transform: none;

        .box-words-wrapper {          
            margin-left: -8px;
            font-family: 'Lato', sans-serif;       
            font-size: 30px;
            text-transform: uppercase;
            color: $theme-purple;

            b {
                font-weight: 800;

                i{
                    padding-right: 2px;
                }
            }
        }
    }

    em {
        font-style: normal;
    }

}

b i:last-child {
    color: #50507f !important;
}




@media only screen and (max-width: 1024px) {
    .box-intro {
        background-position: right 80px;
        background-size: auto 50%;

        .intro-text {
            font-size: 60px;
        }
    }
}

@media only screen and (max-width: 670px) {
    .box-intro {
        background-position: right 60px;
        background-size: 100% auto;

        .intro-text {
            bottom: 18%;
            padding-left: 30px; 
            font-size: 30px;
        }
    }   
}

