.portfolio-container {
    width: 75%;
    margin-bottom: 10px;
    font-size: 24px;

    .portfolio_filter {
        display: inline-block;
        margin: 10px auto;
        padding-left: 0;
        font-size: 0.8em;
        text-align: center;
    }

    .portfolio-social {
        font-size: 2em;
        padding: 0 0.6em;

        &:first-child {
            padding-left: 0;
        }

        a:hover {
            color: $theme-purple-light;
        }
    }
}

/* portfolio section
==================================================*/

.portfolio .categories-grid span {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.portfolio .categories-grid .categories ul li a {
    display: inline-block;
    color: #60606e;
    padding: 0 10px;
    margin: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio .categories-grid .categories ul li a.active {
    margin-left: 0;
    background-color: #50507f;
    padding: 0px 20px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
}

.portfolio .categories-grid .categories ul li a:hover {
    text-decoration: none;
}

.portfolio_item {
    position: relative;
    overflow: hidden;
    display: block;
    padding: 10px;

    img {
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
}

.portfolio_item .portfolio_item_hover {
    position: absolute;
    top: 10px;
    left: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 6px;
    background-color: rgba(10, 10, 40, .7);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.portfolio_item .portfolio_item_hover .item_info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 100%;
    font-weight: bold;
    font-size: 0.8em;
    color: $theme-light;

    div {
        margin-bottom: 10px;
    }
}

.portfolio_item .portfolio_item_hover .item_info em {
    width: auto;
    background-color: $theme-light;
    padding: 10px 20px;
    border-radius: 4px;
    color: $theme-purple;
    opacity: 0;
    font-size: 12px;
    letter-spacing: 1px;
}

.portfolio_item:hover .portfolio_item_hover {
    opacity: 1;
}

.portfolio_item:hover .item_info em,
.portfolio_item:hover .item_info span {
    opacity: 1;
}

.portfolio .categories-grid .categories ul li {
    float: left;
}

.portfolio .categories-grid .categories ul li a {
    padding: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio-inner {
    padding-bottom: 0 !important;
    padding-top: 55px;
}

@media screen and (max-width: $tab-big) {
    .portfolio-container {
        min-height: calc(100vh - 260px);
    }
}

/* Responsive media queries
==================================================*/

@media (max-width: 991px) {
    .portfolio .categories-grid span {
        margin-bottom: 0;
        text-align: center;
        width: 100%;
    }
    .portfolio .categories-grid .categories ul li {
        text-align: center;
    }
    .portfolio .categories-grid .categories ul li a {
        margin-left: 0;
    }
    .col-md-6 h3 {
        margin-top: 30px;
    }
}


@media screen and (max-width: $tab-small) {
    .portfolio-container {
    
    }
}

@media screen and (max-width: $mobile) {
    .portfolio-container {
        width: 100%;
        min-height: calc(100vh - 240px);
        padding: 0 $padding-small;
        font-size: 18px;

        .portfolio {
            li {
                margin: 10px 0 0;
            }
        }
    }
}