
/* Colors
==================================================*/
$theme-purple: #50507f;
$theme-purple-light: #9393CC;
$theme-blue-medium:#6888cc;
$theme-blue-light: #A4B7E0;


$theme-light: #f7f7f7;
$theme-white: #fff;

$theme-grey-light: #f1f1f1;
$theme-grey: #666;
$theme-dark: #444;
$theme-black: #000;

/* Dimensions
==================================================*/
$header-height: 80px;
$tab-big: 1024px;
$tab-small: 800px;
$mobile: 670px;

$padding-big: 10%;
$padding-medium: 5%;
$padding-small: 40px;

/* Fonts
==================================================*/
$big: 60px;