.work-container {
    width: 75%;  
    min-height: calc(100vh - 260px);
    padding-bottom: 20px;
    font-size: 24px;

    .work-text {
        padding: 15px 0;
        font-size: 0.8em;
    }

    .work-image {
        padding: 15px 0;
        
        img {
            border-radius: 6px;
            margin: 0 auto;
        }
    }

    .button {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: $tab-big) {
    .work-container {

        .button {
            margin: 20px auto;
        }
    }
}

@media screen and (max-width: $tab-small) {
    .work-container {
        
    }
}

@media screen and (max-width: $mobile) {
    .work-container {
        width: 100%;
        min-height: calc(100vh - 240px);
        padding: 0 $padding-small 20px;
        font-size: 18px;
    }
}