/* Table of Content
==================================================
	- Google fonts & font family -
	- General -
    - typography -
    - Preloader -
	- Header -
    - box intro section -
    - Portfoilo section -
    - Footer -
    - Services page -
    - contact page -
    - Portfolio single page -
    - Responsive media queries -
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Colors
==================================================*/
/* Dimensions
==================================================*/
/* Fonts
==================================================*/
/* header
==================================================*/
.box-header {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  height: 80px;
  width: 100%;
  padding: 20px 0 20px 60px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 12px 0px;
          box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 12px 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.box-header {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.box-logo {
  display: block;
}

.box-logo img {
  height: 40px;
}

.box-primary-nav-trigger .box-menu-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  bottom: auto;
  right: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: #444;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  list-style: none;
}

.box-primary-nav-trigger .box-menu-icon::before,
.box-primary-nav-trigger .box-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #444;
  border-radius: 10px;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -webkit-transition: top .3s, background-color 0s, -webkit-transform .3s;
  transition: top .3s, background-color 0s, -webkit-transform .3s;
  transition: transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s, -webkit-transform .3s;
}

.box-primary-nav-trigger .box-menu-icon::before {
  top: -5px;
}

.box-primary-nav-trigger .box-menu-icon::after {
  top: 4.5px;
}

.box-primary-nav-trigger .box-menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::before,
.box-primary-nav-trigger .box-menu-icon.is-clicked::after {
  background-color: #444;
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.box-primary-nav-trigger {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.box-primary-nav-trigger .box-menu-icon {
  left: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.box-primary-nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 85%;
  background: #f7f7f7;
  z-index: 2;
  text-align: center;
  padding: 20px 0 20px 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  list-style: none;
}

.box-primary-nav li {
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 1em;
  text-transform: capitalize;
}

.box-primary-nav a {
  display: inline-block;
  margin: 0 24px 0;
  border-radius: 0.25em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #444;
  border-radius: 0;
  border-bottom: 2px solid transparent;
}

.box-primary-nav a:hover {
  color: #50507f;
  border-bottom: 2px solid #50507f;
}

.box-primary-nav a.selected {
  font-weight: 700;
  color: #50507f;
  border-bottom: 2px solid #50507f;
}

.box-primary-nav .box-primary-nav a:focus {
  outline: none;
}

.box-primary-nav.is-visible {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

@media only screen and (min-width: 1024px) {
  .box-header .box-logo {
    margin-left: 40px;
  }
  .box-primary-nav {
    margin-right: 60px;
  }
}

@media only screen and (min-width: 670px) {
  .box-primary-nav-trigger {
    display: none;
  }
  .box-primary-nav {
    z-index: 4;
    padding-top: 20px;
    height: 80px;
    background: transparent;
    color: #444;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 670px) {
  .box-header {
    height: 60px;
    padding: 20px 20px 20px 30px;
  }
  .box-header .box-logo img {
    height: 24px;
  }
  .box-primary-nav {
    padding: 80px 0 0;
    -webkit-box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 10px 0px;
            box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 10px 0px;
  }
  .box-primary-nav a {
    padding: 0 10px;
    margin-bottom: 20px;
    font-size: 14px;
    border-right: 2px solid transparent;
  }
  .box-primary-nav a:hover {
    border-bottom: none;
    border-right: 2px solid #50507f;
  }
  .box-primary-nav a.selected {
    border-bottom: none;
    border-right: 2px solid #50507f;
  }
  .box-primary-nav .box-social a {
    font-size: 23px;
  }
}

/* box-intro
==================================================*/
.box-intro {
  position: relative;
  text-align: left;
  display: table;
  height: 100vh;
  width: 100%;
  background-image: url("../img/landing_pattern@2x.png");
  background-size: auto calc(100vh - 80px);
  background-repeat: no-repeat;
  background-position: right 80px;
  color: #444;
}

.box-intro .intro-text {
  position: absolute;
  bottom: 25%;
  padding-left: 120px;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 600;
}

.box-intro .intro-message {
  font-size: 2em;
  line-height: 1em;
}

.box-intro .box-headline {
  margin-top: 0;
  text-transform: none;
  font-size: 36px;
}

.box-intro .box-headline .box-words-wrapper {
  margin-left: -0.2em;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1em;
  margin-top: 0.8em;
  text-transform: uppercase;
  color: #50507f;
}

.box-intro .box-headline .box-words-wrapper b {
  font-weight: 800;
}

.box-intro .box-headline .box-words-wrapper b i {
  padding-right: 2px;
}

.box-intro em {
  font-style: normal;
}

@media only screen and (max-width: 1024px) {
  .box-intro {
    background-position: right 80px;
    background-size: auto 50%;
  }
  .box-intro .intro-text {
    padding-left: 100px;
    font-size: 40px;
  }
  .box-intro .intro-text .box-headline {
    font-size: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .box-intro .intro-text {
    padding-left: 70px;
  }
  .box-intro .intro-text .box-headline {
    font-size: 50px;
  }
}

@media only screen and (max-width: 670px) {
  .box-intro {
    background-position: right 60px;
    background-size: 100% auto;
  }
  .box-intro .intro-text {
    bottom: 24%;
    padding-left: 30px;
    font-size: 20px;
  }
  .box-intro .intro-text .box-headline {
    font-size: 24px;
  }
}

.about-container {
  width: 75%;
  margin: 80px auto 0;
  padding: 20px 0 80px;
  color: #444;
  font-size: 20px;
}

.about-container .about-heading {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: 600;
}

.about-container .about-text {
  padding: 10px 20px;
  font-size: 1em;
}

.about-container .about-text .button {
  margin: 0 auto;
}

.about-container .about-image {
  padding: 20px 0;
}

.about-container .about-image img {
  margin: 0 auto;
  height: 300px;
  border-radius: 4px;
}

@media only screen and (max-width: 1024px) {
  .about-container {
    width: 60%;
    height: calc(100vh - 160px);
  }
}

@media only screen and (max-width: 800px) {
  .about-container {
    height: auto;
  }
}

@media only screen and (max-width: 670px) {
  .about-container {
    width: 90%;
    padding: 0 0 40px;
    font-size: 16px;
  }
  .about-container .about-image img {
    margin: 0 auto;
    width: 80%;
    height: auto;
  }
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 80px auto 0;
  padding: 0 12.5%;
  height: 100px;
  background-image: url("../img/landing_pattern_4@2x.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right top;
  font-size: 24px;
  font-weight: 600;
  color: #444;
}

.top-bar .heading {
  font-size: 1em;
  padding: 15px;
}

@media screen and (max-width: 670px) {
  .top-bar {
    width: 100%;
    background-image: url("../img/landing_pattern_3@2x.png");
    margin: 60px 0 0;
    padding: 0 40px;
    font-size: 18px;
  }
  .top-bar .heading {
    padding: 0;
  }
}

.portfolio-container {
  width: 75%;
  margin-bottom: 10px;
  font-size: 24px;
}

.portfolio-container .portfolio_filter {
  display: inline-block;
  margin: 10px auto;
  padding-left: 0;
  font-size: 0.8em;
  text-align: center;
}

.portfolio-container .portfolio-social {
  font-size: 2em;
  padding: 0 0.6em;
}

.portfolio-container .portfolio-social:first-child {
  padding-left: 0;
}

.portfolio-container .portfolio-social a:hover {
  color: #9393CC;
}

/* portfolio section
==================================================*/
.portfolio .categories-grid span {
  font-size: 30px;
  margin-bottom: 30px;
  display: inline-block;
}

.portfolio .categories-grid .categories ul li a {
  display: inline-block;
  color: #60606e;
  padding: 0 10px;
  margin: 0 10px;
  -webkit-transition: all .2s ease-in-out .2s;
  transition: all .2s ease-in-out .2s;
}

.portfolio .categories-grid .categories ul li a.active {
  margin-left: 0;
  background-color: #50507f;
  padding: 0px 20px;
  color: white;
  border-radius: 25px;
  text-decoration: none;
}

.portfolio .categories-grid .categories ul li a:hover {
  text-decoration: none;
}

.portfolio_item {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 10px;
}

.portfolio_item img {
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.portfolio_item .portfolio_item_hover {
  position: absolute;
  top: 10px;
  left: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border-radius: 6px;
  background-color: rgba(10, 10, 40, 0.7);
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.portfolio_item .portfolio_item_hover .item_info {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 100%;
  font-weight: bold;
  font-size: 0.8em;
  color: #f7f7f7;
}

.portfolio_item .portfolio_item_hover .item_info div {
  margin-bottom: 10px;
}

.portfolio_item .portfolio_item_hover .item_info em {
  width: auto;
  background-color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 4px;
  color: #50507f;
  opacity: 0;
  font-size: 12px;
  letter-spacing: 1px;
}

.portfolio_item:hover .portfolio_item_hover {
  opacity: 1;
}

.portfolio_item:hover .item_info em,
.portfolio_item:hover .item_info span {
  opacity: 1;
}

.portfolio .categories-grid .categories ul li {
  float: left;
}

.portfolio .categories-grid .categories ul li a {
  padding: 0 10px;
  -webkit-transition: all .2s ease-in-out .2s;
  transition: all .2s ease-in-out .2s;
}

.portfolio-inner {
  padding-bottom: 0 !important;
  padding-top: 55px;
}

@media screen and (max-width: 1024px) {
  .portfolio-container {
    min-height: calc(100vh - 260px);
  }
}

/* Responsive media queries
==================================================*/
@media (max-width: 991px) {
  .portfolio .categories-grid span {
    margin-bottom: 0;
    text-align: center;
    width: 100%;
  }
  .portfolio .categories-grid .categories ul li {
    text-align: center;
  }
  .portfolio .categories-grid .categories ul li a {
    margin-left: 0;
  }
  .col-md-6 h3 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 670px) {
  .portfolio-container {
    width: 100%;
    min-height: calc(100vh - 240px);
    padding: 0 40px;
    font-size: 18px;
  }
  .portfolio-container .portfolio li {
    margin: 10px 0 0;
  }
}

.connect-container {
  width: 75%;
  font-size: 24px;
}

.connect-container .connect-section {
  margin-bottom: 1.5em;
}

.connect-container .connect-section:first-child {
  margin-top: 1em;
}

.connect-container .connect-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connect-container .connect-label {
  font-size: 0.9em;
}

.connect-container .connect-social {
  font-size: 2em;
  padding: 0 0.6em;
}

.connect-container .connect-social:first-child {
  padding-left: 0;
}

.connect-container .connect-social a:hover {
  color: #9393CC;
}

@media screen and (max-width: 1024px) {
  .connect-container {
    min-height: calc(100vh - 260px);
  }
}

@media screen and (max-width: 670px) {
  .connect-container {
    width: 100%;
    min-height: calc(100vh - 240px);
    padding: 0 40px;
    font-size: 18px;
  }
}

/* Google fonts & font family
==================================================*/
/* General
==================================================*/
html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  line-height: 1.8;
  color: #999;
  overflow: auto;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-padding [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.main-container {
  padding: 100px 0;
  min-height: calc(100vh - 80px);
}

.center {
  text-align: center;
}

a {
  -webkit-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  color: #50507f;
}

.uppercase {
  text-transform: uppercase;
}

.h-30 {
  height: 30px;
}

.h-10 {
  height: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.icon {
  font-size: 24px;
  vertical-align: text-top;
}

.icon.large {
  font-size: 36px;
}

p {
  margin: 0;
}

.color {
  color: #50507f;
  font-size: 11px;
}

.outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  background-color: #50507f;
  padding: 10px 20px;
  border-radius: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button a {
  color: #f7f7f7;
  font-size: 14px;
  letter-spacing: 1px;
}

object > div {
  margin: 20px 40px 0;
  color: #666;
  font-size: 16px;
}

/* typography
==================================================*/
h1 {
  color: #393939;
  font-size: 60px;
  text-transform: uppercase;
}

h3 {
  color: #393939;
}

h5 {
  color: #50507f;
}

/* preloader
==================================================*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  /* change if the mask should be a color other than white */
  z-index: 1000;
  /* makes sure it stays on top */
}

.pre-container {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #50507f;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* mouse effect */
.mouse {
  cursor: pointer;
  position: absolute;
  padding: 10px 0;
  bottom: 40px;
  left: 50%;
  margin-left: -12px;
  border-radius: 15px;
  color: #50507f;
}

.mouse:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  -webkit-animation: shake 1s;
          animation: shake 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  /* When the animation is finished, start again */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes shake {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

/* text rotate */
.box-words-wrapper {
  display: inline-block;
  position: relative;
}

.box-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.box-words-wrapper b.is-visible {
  position: relative;
}

.no-js .box-words-wrapper b {
  opacity: 0;
}

.no-js .box-words-wrapper b.is-visible {
  opacity: 1;
}

.box-headline.rotate-2 .box-words-wrapper {
  -webkit-perspective: 300px;
  perspective: 300px;
}

.box-headline.rotate-2 i,
.box-headline.rotate-2 em {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.box-headline.rotate-2 b {
  opacity: 0;
}

.box-headline.rotate-2 i {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-20px) rotateX(90deg);
  transform: translateZ(-20px) rotateX(90deg);
  opacity: 0;
}

.is-visible .box-headline.rotate-2 i {
  opacity: 1;
}

.box-headline.rotate-2 i.in {
  -webkit-animation: box-rotate-2-in 0.4s forwards;
  animation: box-rotate-2-in 0.4s forwards;
}

.box-headline.rotate-2 i.out {
  -webkit-animation: box-rotate-2-out 0.4s forwards;
  animation: box-rotate-2-out 0.4s forwards;
}

.box-headline.rotate-2 em {
  -webkit-transform: translateZ(20px);
  transform: translateZ(20px);
}

.no-csstransitions .box-headline.rotate-2 i {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 0;
}

.no-csstransitions .box-headline.rotate-2 i em {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.no-csstransitions .box-headline.rotate-2 .is-visible i {
  opacity: 1;
}

@-webkit-keyframes box-rotate-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(-10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0deg);
  }
}

@keyframes box-rotate-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(-10deg);
    transform: translateZ(-20px) rotateX(-10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0deg);
    transform: translateZ(-20px) rotateX(0deg);
  }
}

@-webkit-keyframes box-rotate-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-100deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-90deg);
  }
}

@keyframes box-rotate-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0);
    transform: translateZ(-20px) rotateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-100deg);
    transform: translateZ(-20px) rotateX(-100deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-90deg);
    transform: translateZ(-20px) rotateX(-90deg);
  }
}

/* footer
==================================================*/
footer {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #f7f7f7;
  background-image: url("../img/landing_pattern_1@2x.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
  color: #666;
}

footer img {
  margin: 0 auto;
}

@media only screen and (max-width: 670px) {
  footer {
    background-image: url("../img/landing_pattern_2@2x.png");
  }
}

/* backto top
==================================================*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 20px;
  line-height: 40px;
  font-size: 20px;
  right: 10px;
  text-align: center;
  color: #fff;
  background: #9393CC;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  opacity: .5;
}

.no-touch .cd-top:hover,
.no-touch .cd-top:focus {
  background-color: #50507f;
  opacity: 1;
  color: #fff;
}

/* single project page
==================================================*/
.cat-ul {
  padding-left: 0;
  list-style: none;
}

.cat-ul li i {
  margin-right: 10px;
  color: #50507f;
}
/*# sourceMappingURL=style.css.map */